/* Colours to be used */
/* #22223b */
/* #f2e9e4 */
/* #4a4e69 */
/* #000000 */
/* #c9ada7 */
/* #171738 */
/*  #9a8c98 */

body {
  background-color: #171738;
  margin: 0em;
}

h1,
h2 {
  color: #f2e9e4;
}

nav {
  background-color: #4a4e69;
}
  
nav ul {
  list-style: none;
  margin: 0em;
}
  
nav ul li {
  display: inline-block;
  margin: 0em;
  padding: 0.7em;
  margin-inline: 0.1em;
}
  
nav a {
  text-decoration: none;
  color: #000000;
}
/* backround to #22223b */
/* #f2e9e4; */
nav li:hover,
nav li:hover a {
  background-color: #22223b;
  color: #f2e9e4;
}
  
header {
  text-align: center;
}

h3 {
  text-align: right;
}

p {
  text-align: center;
  font-weight: 800;
  font-style: italic;
}

article {
  background-color: #c9ada7;
  width: 70%;
  margin: auto;
  border-radius: 2em;
  padding-block: 0.5em;
  margin-block-end: 1em;
}
  
/* classes */
  
.centerImg {
  display: block;
  width: 50%;
  margin: auto;
}

.col {
 background-color: #9a8c98;
 display: block;
 width: 38%;
 margin: auto;
 border-radius: 2em;
 border-style: solid;
 border-width: 2px;
 margin-block: 1em;
 padding: 1em;
}
  