body {
    background-color:	#95D5B2;
    margin: 0%;
}

header {
    margin-bottom: 3em;
}

nav {
    background-color:	#2D6A4F;
}

nav ul {
    list-style-type: none;
    margin: 0%;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    text-decoration: none;
    padding: 1em;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

article {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    width: 65%;
}

.article_col {
    border-style: solid;
    border-left-style: none;
    border-bottom-style: none;
    background-color: #52B788;
    padding-inline: 1em;
}

aside {
    display: flex;
    flex-direction: column;
}

aside ul {
    list-style-type: none;
    margin: 0%;
}

aside ul li{
    color: black;
    background-color: #2D6A4F;
    border-style: solid;
    padding-right: 15em;
    padding-block: 1em;
    padding-left: 0.5em;
}

footer {
    display: flex;
    flex-direction: row;
}

.foot_box {
    border-style: solid;
    border-left-style: none;
    background-color: #2D6A4F;
}

nav li:hover,
nav li a:hover,
aside li:hover {
    background-color: #95D5B2;
}

.remove_border {
    border-bottom-style: none;
}